// アニメーション
@mixin animation(
  $name,
  $duration: 1s,
  $timing-function: ease,
  $delay: 3s,
  $iteration-count: infinite,
  $direction: normal,
  $fill-mode: forwards
) {
    animation: { //animation- を省略できる
      name: $name;
      duration: $duration;
      timing-function: $timing-function;
      duration: $duration;
      delay: $delay;
      iteration-count: $iteration-count;
      direction: $direction;
      fill-mode: $fill-mode;
  }
}
